/build/
/node_modules/
**/node_modules/
/.npm-cache/
**/.npm-cache/
gemini-api-key.txt
*.env
dulieumau_drive-download-*.zip
*.zip
*.mp3
*.wav
*.m4a
*.aac
*.flac
*.ogg
sample chat.txt
/submit/
/fetch/
/experiments/
/user_data/
/put_image_here_to_fetch_ans/*
!/put_image_here_to_fetch_ans/.gitkeep
/put_image_here_to_submit/*
!/put_image_here_to_submit/.gitkeep
